{% extends "blog/base.html" %}

{% block content %}
<style>
.errors {
    font-weight: bold;
    color: red;
}
</style>

<form action="" method="post">
    {% csrf_token %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    <ul>
        {% for field in form.visible_fields %}
        <li>
            {{ field.label_tag }}
            {{ field }}
            {{ field.help_text }}
            {% if field.errors %}
                <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}

        {% comment %}
            {{ form.title }}
            {{ form.title.label_tag }}
            {{ form.title.errors }}
        {% endcomment %}
    </ul>
    <input type="submit" />
</form>
{% endblock %}

