{% extends "blog/base.html" %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>by {{ post.author }}</p>

{% if post.photo %}
    <img src="{{ post.photo.url }}" />
    <ul>
        <li>
            url : {{ post.photo.url }}
        </li>
        <li>
            path : {{ post.photo.path }}
    </li>
    </ul>
{% endif %}

{{ post.content }}
<hr/>

<form action="{% url "blog:comment_new" post.id %}" method="post">
    {% csrf_token %}
    <table>
        {{ comment_form.as_table }}
    </table>
    <input type="submit" class="btn btn-primary btn-block" />
</form>

<ul>
{% for comment in post.comment_set.all %}
<li>
    {{ comment.message }} at {{ comment.created_at }}
    <a href="{% url "blog:comment_edit" post.pk comment.pk %}">수정</a>
</li>
{% endfor %}
</ul>

<hr/>
<a href="{% url "blog:post_list" %}">목록</a>
<a href="{% url "blog:post_edit" post.pk %}">수정</a>
<a href="{% url "blog:comment_new" post.pk %}">댓글쓰기</a>
{% endblock %}

