{% extends "blog/base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>AskDjango</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>

        <ul>
            <li>
                <a href="{% url "dojo:mysum" "1/2/3/4/5/6/7/8/9/10" %}">10까지 합</a>
            </li>
            <li>
                <a href="{% url "dojo:hello" name="김진돌" age=10 %}">김진돌에게 인사</a>
            </li>
        </ul>

        <ul>
            {% for post in post_list %}
            <li>
                <!-- <a href="{% url "blog:post_detail" post.pk %}"> -->
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <a href="{% url "blog:post_new" %}" class="btn btn-primary">New Post</a>
    </div>
</div>
{% endblock %}

